* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    width: 100%;
    position: relative;
}

.bordo-colorato {
    border-top: 1px solid #32495B;
}

.bg-lightgrey {
    background-color: #F4F9FD;
}

.bg-main {
    background-color: #F4F9FD;
}

.bg-blue {
    background-color: #00BAA8;
}

.wrapper {
    width: 900px;
    margin: auto;
    position: relative;
}

.h-top {
    padding: 20px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.mini-box {
    float: left;
    padding: 9.5px 20px 9.5px 0;
    color: #32495B;
}

.mini-box > * {
    vertical-align: middle;
}

.lingua {
    border-right: 1px solid #899397;
    padding-right: 15px;
}

.btn_box {
    float: right;
}

.lens {
    color: #00A4BD;
    display: inline-block;
    padding-right: 15px; 
}

.btn-small {
    background-color: #FAFCFE;
    border: 1px solid #FE775A;
    border-radius: 5px;
    color: #FE775A;
    padding: 10px;
}

.btn-orange {
    background-color: #FE775A;
    color: #FFFFFF;
    border: 1px solid #FE775A;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px; 
}

.list {
    float: right;
    padding: 6px 0;
}

.list > ul > li {
    display: inline-block;
    color: #32495B;
    padding: 0 0 0 15px; 
}

.h-bottom {
    padding: 22.5px 0;
}
/*fine zona header-nav*/

.jumbotron {
    background-image: url(img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 695px;
}

.box {
    width: 50%;
    padding: 30px 0;
}

.box > p {
    padding: 35px 0;
    line-height: 25px;
    font-size: 12px; 
}

.big {
    margin-left: 0;
    padding: 20px 40px;
}
/*inizio sezione main*/

.box-cube {
    width: 200px;
    margin: auto;
}
.cube {
    width: 100%;
    object-fit: contain;
}

.box-content {
    text-align: center;
    margin: auto;
}

.box-content > p {
    padding: 35px 0;
    line-height: 25px; 
}

.horizontal-card {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 3px #E6ECF1;
}

.top-row {
    padding: 50px 40px;
}

.box-img-btn {
    float: left;
    width: 35%;
}

.box-img {
    width: 150px;
    margin: auto;
}

.box-img > button {
    margin-top: 20px;
}

.medium {
    margin-left: 0;
    padding: 15px 30px;
    width: 150px;
}

.side-zone {
    float: left;
    width: 65%;
}

.side-zone > p, .side-zone > span {
    line-height: 25px;
    padding: 25px 0;
    color: #33475B;
}

.side-zone > .rule {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 0 0 0 20px;
    color: #899397;
}

.side-zone > .marked-list {
    padding-top: 25px;
}

.marked-list > * {
    padding-right: 20px;
}

.vertical-card {
    width: 100%;
    padding: 25px 0;
}

.column {
    float: left;
    width: calc(860px/3);
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #E6ECF1;
}

.column.middle {
    margin: 0 20px;
}

.cln-content {
    padding: 25px;
    text-align: center;
    color: #33475B;
}

.cln-content > *:not(.cln-img) {
    padding-bottom: 20px;
}

.cln-content > h3 {
    margin-top: 20px;
}

.cln-content > ul {
    list-style: none;
    text-align: left;
}

.cln-content > ul > li > .mark {
    margin-right: 15px;
    line-height: 10px;
}

.cln-content > p {
    line-height: 25px;
}

.cln-img {
    width: 100px;
    margin: auto;
}
/*inizo sezione con sfondo azzurro*/
.records {
    padding: 35px 0 60px 0;
}

.records > * {
    color: #FFFFFF;
}

.text-part > h2 {
    text-align: center;
    padding: 0 20px;
}

.text-part > p {
    line-height: 25px;
    padding: 30px 0 50px 0;
    text-align: center;
    font-size: 12px;
}

.square {
    float: left;
    width: calc(896px/4);
    border-bottom: 1px solid #FFFFFF;    
}

.lgtblue-row > .square:not(.last) {
    border-right: 1px solid #FFFFFF;
}

.lgtblue-row.bottom > * {
    border-bottom: none;
}

.sq-cnt {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

.sq-cnt > img {
    height: 30px;
}

.sq-cnt > h2 {
    padding: 10px 0 10px 0;
    font-size: 30px;
}

.sq-cnt > p {
    font-size: 10px;
}
/*inizio sezione partners*/
.partners {
    width: 100%;
    color: #33475B;
}
.pt-row {
    width: 100%; 
    padding: 40px 40px;
}
.numbers {
    float: left;
    width: 35%;
}
.n-cnt {
    width: 50%;
    margin-left: 30px;
    padding-top: 10px;
}

.n-cnt > h2 {
    font-size: 35px;
}

.n-cnt > p {
    font-size: 10px;
    line-height: 15px;
    padding: 10px 20px 0 0;
}
.logos {
    float: left;
    width: 65%;
}
.lg {
    float: left;
}
.lg > img {
    width: 110px;
    height: 30px;
    object-fit: contain;
    margin: 5px 10px;
}

.box.left {
    float: left;
    padding-right: 70px;
}
.photo-spot {
    float: right;
    width: 50%;
}
.photo-spot > img {
    width: 60%;
    object-fit: contain;
    margin: 20px 0 0 175px;
}
/*inizio footer*/
.bg-deepblue {
    background-color: #32495B;
}

.ft-row {
    width: 100%;
}

.links-list {
    float: left;
    width: 25%;
    padding: 30px 0;
}

.links-list > h4 {
    color: #FFFFFF;
}

.links-list > ul {
    list-style: none;
    padding-top: 20px;
}

.links-list > ul > li {
    line-height: 30px;
}

.links-list > ul > li > a {
    text-decoration: none;
    color: #CBD6E2;
    font-size: 14px;
}

.btn-lg {
    float: right;
    width: 25%;
    padding-top: 10px;
}

.grey {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.social {
    padding: 15px 0;
}

.social > a, .languages > a {
    text-decoration: none;
    color: #CBD6E2;
    padding-right: 20px;
}

.ft-row.third {
    border-bottom: 1px solid #FFFFFF;
}

.languages {
    width: 50%;
    margin: auto;
    padding: 35px 0 15px 0px;
    font-size: 14px;
    text-align: center;
}

.copyright-left {
    float: left;
    width: 50%;
    padding: 30px 0;
}

.copyright-left > p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}

.copyright-right {
    float: right;
    width: 50%;
    padding: 30px 0 0 250px;
}

.copyright-right > a {
    text-decoration: none;
    color: #CBD6E2;
    padding-left: 20px;
    font-size: 14px;
}










