* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    width: 100%;
    position: relative;
}

.bordo-colorato {
    border-top: 1px solid #32495B;
}

.bg-lightgrey {
    background-color: #F4F9FD;
}

.bg-main {
    background-color: #F4F9FD;
}

.wrapper {
    width: 900px;
    margin: auto;
    position: relative;
}

.h-top {
    padding: 20px 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.mini-box {
    float: left;
    padding: 9.5px 20px 9.5px 0;
    color: #32495B;
}

.english {
    border-right: 1px solid #899397;
    padding-right: 15px;
}

.btn_box {
    float: right;
}

.lens {
    color: #00A4BD;
    display: inline-block;
    padding-right: 15px; 
}

.btn-small {
    background-color: #FAFCFE;
    border: 1px solid #FE775A;
    border-radius: 5px;
    color: #FE775A;
    padding: 10px;
}

.btn-orange {
    background-color: #FE775A;
    color: #FFFFFF;
    border: 1px solid #FE775A;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px; 
}

.list {
    float: right;
    padding: 6px 0;
}

.list > ul > li {
    display: inline-block;
    color: #32495B;
    padding: 0 0 0 15px; 
}

.h-bottom {
    padding: 22.5px 0;
}
/*fine zona header-nav*/

.jumbotron {
    background-image: url(img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 695px;
}

.box {
    width: 50%;
    padding: 30px 0;
}

.box > p {
    padding: 35px 0;
    line-height: 25px;
    font-size: 12px; 
}

.big {
    margin-left: 0;
    padding: 20px 40px;
}
/*inizio sezione main*/

.box-cube {
    width: 200px;
    margin: auto;
}
.cube {
    width: 100%;
    object-fit: contain;
}

.box-content {
    text-align: center;
    margin: auto;
}

.box-content > p {
    padding: 35px 0;
    line-height: 25px; 
}

.horizontal-card {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 3px #E6ECF1;
}

.top-row {
    padding: 50px 40px;
}

.box-img-btn {
    float: left;
    width: 35%;
}

.box-img {
    width: 150px;
    margin: auto;
}

.box-img > button {
    margin-top: 20px;
}

.medium {
    margin-left: 0;
    padding: 15px 30px;
    width: 150px;
}

.side-box {
    float: left;
    width: 65%;
}

.side-box > p, span {
    line-height: 25px;
    padding: 25px 0;
    color: #33475B;
}

.side-box > .rule {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 0 0 0 20px;
    color: #899397;
}

.side-box > .marked-list {
    padding-top: 25px;
}

.marked-list > * {
    padding-right: 20px;
}

.vertical-card {
    width: 100%;
    padding: 25px 0;
}

.column {
    float: left;
    width: calc(860px/3);
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #E6ECF1;
}

.column.middle {
    margin: 0 20px;
}

.cln-content {
    padding: 25px;
    text-align: center;
    color: #33475B;
}

.cln-content > *:not(.cln-img) {
    padding-bottom: 20px;
}

.cln-content > h3 {
    margin-top: 20px;
}

.cln-content > ul {
    list-style: none;
    text-align: left;
}

.cln-content > ul > li > .mark {
    margin-right: 15px;
    line-height: 10px;
}

.cln-content > p {
    line-height: 25px;
}

.cln-img {
    width: 100px;
    margin: auto;
}








